/* Universal Styles */

html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

h1,
h4 {
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Company Header */

.company {
  background-color: black;
  color: white;
}

.company .container {
  display: flex;
  align-items: center;
  padding: .66rem 0 .66rem 0.5rem;
}

.company img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Main Banner */

.main-banner {
  background: url("../img/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.headline {
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
  color: white;
}

.headline h1 {
  margin: 0.25rem 0;
  font-size: 2rem;
  line-height: 1.2;
}

@media only screen and (max-width:470px ) {

  .headline{
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1rem;
    top: 10rem;
  }

  .main-banner {
    height: 15rem;
  }

  .headline h4{
    font-family: "helvetica";
    font-size: .77rem;
    font-weight: bold;
  }

  .headline h1{
    font-size: 1rem;
  }

}

nav{
  background-color: firebrick;
  color: white;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
.mobile-nav {
  display: block;
  text-align: center;
}

nav ul{
  display: none;
}
}

.products,
.business-info{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.product {
  width: 30%;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.image img{
  max-width: 8rem;
}

.description{
  padding: 0;
  display: block;
  text-align: center;
  background-color: black;
  color: white;
}


.info{
width: 35%;
}

.info .title {
  display: block;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}

@media only screen and (max-width:1024px) {
  .product {
    width: 47%;
  }

  .product.glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
.product {
    width: 90%;
    margin: 0.5rem auto;

  }
.product.watch {
    display: none;
  }
.business-info {
    width: 90%;
    margin: 0.5rem auto;
  }
footer{
text-align: center;
}
}

footer {
  padding: 5rem 0;
  margin-top: 4rem;
  background-color: black;
  color: white;
}
